.progress-bar {
  height: 0.25rem;
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .active {
    background: $main-color;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
  }
}

.nav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rem;
  &__logo {
    margin-inline-end: 5vw;
  }
  &__input {
    width: 55vw;
    &.remove-on-desktop {
      display: none;
    }
  }
  .ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include to-tablet-sm {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .navbar {
      &__logo {
        margin-inline-end: 1vw;
      }
      &__input {
        width: 50vw;
        img {
          width: 1.2rem;
        }
        &.remove-on-mobile {
          display: none;
        }
        &.remove-on-desktop {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
